// vim: ft=groovy syntax=nextflow

def assets_dir = System.getenv("PLUMBER_PIPELINE_ASSETS")
if (assets_dir == null) {
    def config_home = System.getenv("NEXTFLOW_CONFIG_HOME")
    if (config_home) {
        assets_dir = "${config_home}/nf-core/assets"
    } else {
        throw new Exception("could not resolve path to assets, set NEXTFLOW_CONFIG_HOME")
    }
}

process {
    cpus = { 1 * task.attempt }
    memory = { 4000.MB * task.attempt }
    time = { 4.h * task.attempt }
    cache = "lenient"

    withLabel:process_single {
        cpus = { 1 * task.attempt }
        memory = { 4000.MB * task.attempt }
        time = { 4.h * task.attempt }
    }

    withLabel:process_low {
        cpus = { 2 * task.attempt }
        memory = { 8000.MB * task.attempt }
        time = { 4.h * task.attempt }
    }

    withLabel:process_medium {
        cpus = { 6 * task.attempt }
        memory = { 24000.MB * task.attempt }
        time = { 8.h * task.attempt }
    }

    withLabel:process_high {
        cpus = { 12 * task.attempt }
        memory = { 48000.MB * task.attempt }
        time = { 16.h * task.attempt }
    }
}